#root {
  margin: 0 auto;
  height: 100vh;

  font-family: 'Montserrat', 'Segoe UI', Tahoma, sans-serif;
}

pre {
  background-color: #fff9ef;
  margin: 0;
  padding: 1em;
  border-radius: 0.5em;
}

code {
  font-family: 'Cascadia Code', 'Courier New', Courier, monospace;
}

.target-code-pre {
  text-wrap: wrap;
  word-break: break-all;

  line-height: 1.3em;
  
  flex: 1;
  min-width: 0;
  padding: 0;
}

.target-code-pre code {
  min-width: 23.1em;
  min-height: 5.1em;

  font-size: smaller;
}

.target-code-pre code::selection, .target-code-pre span::selection {
  color: unset;
  background-color: unset;
}

.target-code-pre span {
  border-radius: 0.6em;
  padding: 2px 0px;

  transition: background-color 0.1s ease-in-out;
}

.outline-tokens .target-code-pre span {
  background-color: rgba(184, 235, 252, 0.2);
}

.target-code-pre span:hover {
  background-color: rgba(184, 235, 252, 0.5);
}

.target-code-pre span.selected {
  background-color: rgba(184, 235, 252, 1.0);
}

.number-navigation-button {
  height: 2em;
  padding: 0.3em;
}

.number-navigation-button:disabled {
  background-color: transparent;
  opacity: 0.5;
}

.label-badge {
  cursor: pointer;
}

.label-badge:hover {
  opacity: 0.8;
}

.label-badge.add-label {
  opacity: 0.6
}

.label-badge.add-label:hover {
  opacity: 0.4
}

.settings-button:hover {
  filter: brightness(80%);
}

.custom-color-watch:hover {
  box-shadow: 1px 0 6px rgba(0, 0, 0, 0.1)
}

.mantine-Modal-content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.mantine-Modal-body {
  overflow: auto;
}

.target-code-pre .mantine-ScrollArea-viewport {
  position: relative;
}

.labeling-score {
  font-family: 'Cascadia Code', 'Courier New', Courier, monospace;
}
