#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-family: 'Montserrat', 'Segoe UI', Tahoma, sans-serif;
}

code {
  font-family: 'Cascadia Code', 'Courier New', Courier, monospace;
}

.target-code-pre {
  text-wrap: wrap;
  padding: 1em;
  border-radius: 0.5em;
}

.target-code-pre span::selection {
  color: unset;
  background-color: unset;
}

.target-code-pre span {
  border-radius: 0.6em;
  padding: 2px 2px;
  margin: 0 2px;

  transition: background-color 0.1s ease-in-out;
}

.outline-tokens .target-code-pre span {
  background-color: rgba(173, 216, 230, 0.3);
}

.target-code-pre span.selected {
  background-color: rgba(173, 216, 230, 1.0);
}
